<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="nav nav-pills nav-stacked" style="margin-top:20px;">
            <% menu.forEach(function(item,index){%>
                <% if(index===0){%>
                    <li class="menu-item active" onclick="openWindow('<%=item.href%>',this)">
                        <a>
                            <%=item.name%>
                        </a>
                    </li>

                    <%}else{%>
                        <li class="menu-item" onclick="openWindow('<%=item.href%>',this)">
                            <a>
                                <%=item.name%>
                            </a>
                        </li>

                        <%}%>
                            <%})%>
        </ul>
    </div>
</div>