<div>
    <div class="pull-left" style="font-size:24px;">
        商品手册制作工具（v1.0.0）
    </div>
    <div class="pull-right"> 欢迎您:
        <%=user.account%>登录成功！<a href="/logout">退出登录</a></div>
    <div class="clearfix"></div>
</div>