<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            padding: 10px;
        }
        
        .goods-cover:before {
            position: absolute;
            content: "商品封面";
            height: 40px;
            font-size: 14px;
            font-weight: bold;
            /*top: -30px;*/
            width: 100%;
            text-align: center;
            left: 0;
        }
        
        .img {
            position: absolute;
            width: 90%;
            top: 9%;
            left: 5%;
            height: 120px;
            /* background: red; */
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        .goods-cover {
            text-align: center;
            border-radius: 3px;
            border: 1px dashed #ccc;
            padding: 3px;
            position: absolute;
            width: 220px;
            height: 180px;
            top: 20px;
            right: 40px;
        }
        
        .goods-other {
            text-align: center;
            border-radius: 3px;
            border: 1px dashed #ccc;
            padding: 3px;
            position: absolute;
            width: 220px;
            height: 83px;
            top: 217px;
            right: 40px;
        }
        
        .file {
            position: absolute;
            display: inline-block;
            left: 0;
            width: 90%;
            height: 30px;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
            bottom: 0;
            margin: 5%;
        }
        
        #file-progress {
            position: absolute;
            width: 0%;
            height: 100%;
            background: #5cb85c;
            top: 0;
            left: 0;
            border: #5cb85c;
            opacity: 0.6;
        }
        
        .file input {
            position: absolute;
            font-size: 10px;
            right: 0;
            top: 0;
            opacity: 0;
        }
        
        .file:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
        
        img {
            cursor: pointer;
        }
        
        td,
        tr,
        th {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <ol class="breadcrumb">
            <li><a href="test1.html">商品管理</a></li>
        </ol>
        <p class="bg bg-default">
            <div class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">商品分类</label>
                    <select class="form-control" v-model="classifyId" placeholder="选择商品所属分类">
                        <option v-bind:value="item.id" v-for="item in classifyList">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group" style="margin-left:20px;">
                    <label for="exampleInputEmail2">商品状态</label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" v-model="querystate" id="inlineRadio1" value="-1">全部
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" v-model="querystate" id="inlineRadio1" value="1">显示
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" v-model="querystate" id="inlineRadio2" value="0">隐藏
                    </label>
                </div>
                <div class="form-group" style="margin-left:20px;">
                    <button class="btn btn-primary pull-right" @click="search()">查询</button>
                </div>
                <button class="btn btn-primary pull-right" @click="addGoods()">添加商品</button>
            </div>
        </p>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>ID</th>
                    <th>商品名称</th>
                    <th>商品封面</th>
                    <th>商品价格</th>
                    <th>商品状态</th>
                    <th>商品备注</th>
                    <th>操作</th>
                </tr>
                <tr v-for="item in list" v-if="list.length>=1">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td width="100px" height="40px" @click="showImg(item)"><img @mouseover="showImgTip(item.id)" style="width:100%;height:100%;" :src="item.goods_cover" :id="item.id" alt=""></td>
                    <td>{{item.price}}</td>
                    <td><span v-if="item.state==='1'" class="label label-success">显示</span><span v-else class="label label-default">隐藏</span></td>
                    <td>{{item.remark}}</td>
                    <td style="text-align: center;width:200px;">
                        <button type="button" class="btn btn-primary btn-sm" @click="update(item)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 修改
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" @click="del(item.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
                        </button>
                    </td>
                </tr>
                <tr v-if="0>=list.length">
                    <td height="100px" class="bg bg-danger text-center" colspan="7">
                        此分类下暂无商品数据！
                        <button class="btn btn-primary" @click="addGoods()">添加商品</button>
                    </td>
                </tr>
            </table>

            <div v-if="list.length>=1" class="clearfix pull-right">
                <navigation :pages="pages" :current.sync="pageNo" @navpage="msgListView"></navigation>
            </div>

        </div>
        <!-- 添加商品 -->
        <div id="addGoods-template" style="display:none;padding:20px;padding-right:40px;position:relative;">
            <form id="form1" enctype="multipart/form-data" method="post" action="Upload.aspx"></form>
            <div class="goods-cover">
                <div class="img">
                    <img style="max-height:100%;max-width:100%;" :src="goods_cover" alt="...">
                </div>
                <a class="file" id="file">上传封面<span id="progressNumber"></span>
                    <div id="file-progress"></div>
                    <input type="file" class="" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" />
                </a>
            </div>
            </form>
            <div class="goods-other">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">商品状态</label>
                        <div class="col-sm-7">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" v-model="state" id="inlineRadio1" value="1"> 显
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" v-model="state" id="inlineRadio2" value="0"> 隐
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">免手续费</label>
                        <div class="col-sm-7">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions1" v-model="state1" id="inlineRadio1" value="1"> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions1" v-model="state1" id="inlineRadio2" value="0"> 否
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">商品分类</label>
                    <div class="col-sm-6">
                        <select class="form-control" v-model="classifyId" placeholder="选择商品所属分类">
                            <option v-bind:value="item.id" v-for="item in classifyList">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-6">
                        <input type="text" id="name" v-model="name" class="form-control" required maxlength="30" pattern="^[a-zA-Z][a-zA-Z0-9_]*$" placeholder="商品名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">商品总价</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-yen"></span></div>
                            <input type="number" id="price" class="form-control" v-model="price" id="exampleInputAmount" placeholder="1200.00">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">分期价格</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-yen"></span></span>
                            </div>
                            <input type="number" id="price_6" v-model="price_6" class="form-control" placeholder="220.00">
                            <div class="input-group-addon">&nbsp;6期价格&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">分期价格</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-yen"></span></div>
                            <input type="number" class="form-control" id="price_12" v-model="price_12" placeholder="120">
                            <div class="input-group-addon">12期价格</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">分期价格</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-yen"></span></div>
                            <input type="number" class="form-control" id="price_24" v-model="price_24" placeholder="60">
                            <div class="input-group-addon">24期价格</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">商品备注</label>
                    <div class="col-sm-10">
                        <textarea type="text" v-model="remark" class="form-control" placeholder="商品备注"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input v-if="action===''||action==='add'" type="button" class="btn btn-primary" value=" 添加 " @click.prevent="add()" />
                        <button v-if="action===''||action==='update'" class="btn btn-primary" @click.prevent="updateData()"> 修改 </button>
                        <button class="btn btn-danger" @click.prevent="cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.15/vue.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <script src="/admin/js/pagination.js"></script>
    <script>
        // alert(localStorage.getItem('uid') + "  " + localStorage.getItem('token'));
        var mylayer = null;
        let vm = new Vue({
            el: "#app",
            data: function() {
                return {
                    pageNo: 1,
                    pages: 1,
                    pageSize: 10,
                    goodsList: [],
                    name: "",
                    goods_cover: "/admin/images/upload.png",
                    remark: "",
                    id: "",
                    price: "",
                    price_6: 12.00,
                    price_12: 12.00,
                    price_24: 12.00,
                    state: 1,
                    state1: 1,
                    action: "",
                    classifyList: [], //所有分类
                    classifyId: "", //选中分类的id
                    classifyId1: "",
                    querystate: "-1", //查询按钮使用的状态
                    paginationData: [], //分号页的数据
                    list: [], //当前页显示的数据
                }
            },
            mounted: function() {
                queryAll(this);
            },
            methods: {
                msgListView(curPage) {
                    //根据当前页获取数据
                    this.pageNo = curPage;
                    this.list = pagination(this.pageNo, this.pageSize, this.paginationData);
                    //分页查询逻辑
                    //Todo
                    // alert(curPage)
                },
                addGoods: function() {
                    this.$nextTick(function() {
                        this.classifyList.pop();
                        this.classifyId = this.classifyList[0].id;
                        this.name = "";
                        this.price = "";
                        this.price_6 = "";
                        this.price_12 = "";
                        this.price_24 = "";
                        this.goods_cover = "/admin/images/upload.png";
                        var _this = this;
                        mylayer = layer.open({
                            title: "添加商品",
                            type: 1,
                            closeBtn: 1, //不显示关闭按钮
                            anim: 2,
                            area: ['800px', '499px'], //宽高
                            shade: false,
                            shadeClose: true, //开启遮罩关闭
                            content: $("#addGoods-template"),
                            end: function() {
                                _this.classifyList.push({
                                        id: 0,
                                        name: "全部分类",
                                        remark: ""
                                    })
                                    // _this.classifyId = _this.classifyList[_this.classifyList.length - 1].id;
                            }
                        });
                        this.action = "add";
                    })
                },
                add: function(e) {
                    // alert(this.name)
                    if (!this.name) {
                        layer.tips('商品名称不能为空！', '#name', {
                            tips: [3, '#666666'],
                            time: 3000
                        });
                        return;
                    }

                    if (!this.price) {
                        layer.tips('商品价格不能为空！', '#price', {
                            tips: [3, '#666666'],
                            time: 3000
                        });
                        return;
                    }


                    if (this.goods_cover === "/admin/images/upload.png") {
                        layer.tips('请上传商品图片！', '#file', {
                            tips: [1, '#666666'],
                            time: 3000
                        });
                        return;
                    }

                    //添加商品
                    var data = {
                        "name": this.name,
                        "remark": this.remark,
                        "goods_cover": this.goods_cover,
                        "state": this.state,
                        "state1": this.state1,
                        "price": this.price,
                        "price_6": this.price_6,
                        "price_12": this.price_12,
                        "price_24": this.price_24,
                        "classifyId": this.classifyId
                    }
                    console.log(data)
                    addApi(data);
                    queryAll(this);

                },
                cancel: function() {
                    layer.close(mylayer);
                },
                del: function(id) {
                    layer.msg("删除操作正在开发中......")
                },
                showImgTip: function(id) {
                    layer.tips('点击查看大图', '#' + id, {
                        tips: [2, '#666666'],
                        time: 1000
                    });
                },
                showImg: function(goods) {
                    layer.open({
                        type: 1,
                        title: false,
                        closeBtn: 0,
                        area: '516px',
                        skin: 'layui-layer-nobg', //没有背景色
                        shadeClose: true,
                        content: '<img style="width:100%;height:100%;" src="' + goods.goods_cover + '">'
                    });
                },
                update: function(obj) {
                    this.id = obj.id;
                    this.name = obj.name;
                    this.remark = obj.remark;
                    this.goods_cover = obj.goods_cover;
                    this.state = obj.state;
                    this.state1 = obj.state1;
                    this.price = obj.price;
                    this.price_6 = obj.price_6;
                    this.price_12 = obj.price_12;
                    this.price_24 = obj.price_24;
                    this.classifyId = obj.classifyId;
                    this.$nextTick(function() {
                        this.action = "update";
                        // this.classifyId = this.classifyList[0].id;
                        this.classifyList.pop();
                        var _this = this;
                        mylayer = layer.open({
                            title: "修改分类",
                            type: 1,
                            closeBtn: 0, //不显示关闭按钮
                            anim: 2,
                            area: ['800px', '499px'], //宽高
                            shade: false,
                            shadeClose: true, //开启遮罩关闭
                            content: $("#addGoods-template"),
                            end: function() {
                                _this.classifyList.push({
                                    id: 0,
                                    name: "全部分类",
                                    remark: ""
                                })
                                _this.classifyId = _this.classifyList[_this.classifyList.length - 1].id;
                            }
                        });
                    })
                },
                updateData: function() {
                    // alert(this.name)
                    if (!this.name) {
                        layer.tips('商品名称不能为空！', '#name', {
                            tips: [3, '#666666'],
                            time: 3000
                        });
                        return;
                    }

                    if (!this.price) {
                        layer.tips('商品价格不能为空！', '#price', {
                            tips: [3, '#666666'],
                            time: 3000
                        });
                        return;
                    }


                    if (this.goods_cover === "/admin/images/upload.png") {
                        layer.tips('请上传商品图片！', '#file', {
                            tips: [1, '#666666'],
                            time: 3000
                        });
                        return;
                    }

                    //添加商品
                    var data = {
                        "name": this.name,
                        "remark": this.remark,
                        "goods_cover": this.goods_cover,
                        "state": this.state,
                        "state1": this.state1,
                        "price": this.price,
                        "price_6": this.price_6,
                        "price_12": this.price_12,
                        "price_24": this.price_24,
                        "classifyId": this.classifyId,
                        "id": this.id
                    }
                    console.log(data)
                    updateApi(data);
                    this.list = pagination(this.pageNo, this.pageSize, this.paginationData);

                },
                search: function() {

                    var filterData = [];
                    var gl = this.goodsList;
                    var newGoodList = gl.filter(filter1);
                    this.paginationData = newGoodList;
                    //分页
                    this.list = pagination(1, this.pageSize, this.paginationData);
                    // console.log(newGoodList)
                }
            }
        })

        //分页方法
        function pagination(pageNo, pageSize, array) {
            console.log(array)
            vm.pages = parseInt((array.length - 1) / pageSize + 1);
            var offset = (pageNo - 1) * pageSize;
            return (offset + pageSize >= array.length) ? array.slice(offset, array.length) : array.slice(offset, offset + pageSize);
        }

        function filter1(data) {
            var classifyId = vm.classifyId;
            var querystate = vm.querystate;

            // alert(classifyId + " | " + querystate)
            if (parseInt(classifyId) === 0 && parseInt(querystate) === -1) {
                // alert("d")
                return data;
            }
            if (parseInt(classifyId) === 0) {
                return data.state === querystate;
            }
            if (parseInt(querystate) === -1) {
                return data.classifyId === classifyId;
            }
            if (parseInt(classifyId) !== 0 && parseInt(querystate) !== -1) {
                // alert("ds")
                return (data.classifyId === classifyId) && (data.state === querystate)
            }

        }

        function updateApi(data) {
            $.ajax({
                type: 'POST',
                url: "/goods/update",
                data: data,
                success: function(data) {
                    msg(data);
                },
                dataType: 'json'
            });


        }

        function queryAll(_this) {

            $.get('/classify/queryAll', function(result) {
                _this.classifyList = result.data;
                _this.classifyList.push({
                    id: 0,
                    name: "全部分类",
                    remark: ""
                })
                _this.classifyId = result.data[result.data.length - 1].id;
            })
            $.get('/goods/queryAll', function(result) {
                console.log(result)
                _this.goodsList = result.data;

                _this.paginationData = result.data;
                //分页
                _this.list = pagination(1, _this.pageSize, _this.paginationData);
            })
        }


        function addApi(data) {
            $.ajax({
                type: 'POST',
                url: "/goods/add",
                data: data,
                success: function(data) {
                    msg(data);
                },
                dataType: 'json'
            });
        }

        function msg(data) {
            if (data.success) {
                layer.msg(data.msg);
                layer.close(mylayer);
            } else {
                // layer.msg(data.msg);
                layer.confirm(data.msg, {
                    btn: ['确认'] //按钮
                }, function() {
                    // window.parent.location.reload();
                    window.location.href = "/logout"
                });
            }
        }

        // $(".goods-cover").hover(function() {
        //     layer.tips('点击按钮上传文件', '#fileToUpload', {
        //         tips: [1, '#666666'],
        //         time: 3000
        //     });
        // }, function() {
        //     // $("p").css("background-color", "pink");
        // })
        /**
         *上传相关接口 
         **/

        function fileSelected() {
            var file = document.getElementById('fileToUpload').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
                // document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
                // document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
                // document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
                uploadFile();
            }
        }

        function uploadFile() {
            var fd = new FormData();
            fd.append("fileToUpload", document.getElementById('fileToUpload').files[0]);
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "/upload"); //修改成自己的接口
            xhr.send(fd);
        }

        function uploadProgress(evt) {
            // alert(Math.round(evt.loaded * 100 / evt.total))
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progressNumber').innerHTML = '(' + percentComplete.toString() + '%)';
                $("#file-progress").css("width", percentComplete.toString() + "%")
            } else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* 服务器端返回响应时候触发event事件*/
            console.log(evt)
            var result = JSON.parse(evt.target.responseText);
            vm.goods_cover = result.path.replace("public", "")
                // alert(vm.goods_cover)
            layer.msg("封面图片上传完成！")
        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            alert("The upload has been canceled by the user or the browser dropped the connection.");
        }
    </script>
</body>

</html>